@use "@/sass/abstracts/mixins" as *;

section.ManageAlertSection {
}

.Main {
  display: grid;
  gap: var(--width-regular);
  max-width: 60rem;
}

.Header {
  max-width: 40rem;

  @include respond(500px) {
    text-align: center;
    justify-self: center;
  }
}

.Form {
  justify-items: start;

  &Input {
    max-width: 35rem;

    @include respond(500px) {
      max-width: unset;
      width: 100%;
    }
  }

  &Submit {
    @include respond(500px) {
      width: 100%;
    }
  }
}
