.Button {
  background-color: var(--color-primary);
  font-size: var(--font-size-regular);
  color: var(--color-text);
  border-radius: 222rem;
  border: 0;
  text-transform: capitalize;
  padding: var(--padding-button-vertical) var(--padding-button-horizontal);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--width-tiny);

  &--icon {
    padding: var(--padding-button-vertical);
    aspect-ratio: 1;
    justify-items: center;

    & > * {
      width: 2.25rem;
      height: 2.25rem;
    }
  }

  &--text {
    background-color: transparent;
    opacity: 0.8;
    padding: 0;
    font-weight: var(--font-weight-semibold);

    transition:
      gap ease 0.2s,
      opacity ease 0.2s;

    & > * {
      width: var(--font-size-regular);
      height: var(--font-size-regular);
    }

    &:hover,
    &:focus-within {
      opacity: 1;
      gap: var(--width-small);
    }
  }
}
