.Page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: var(--width-regular);
}

.SearchSection {
  flex: 1;
}

.Main {
  flex: 1;

  display: grid;
  align-content: center;
  justify-items: center;
  gap: inherit;

  padding: 0 var(--width-regular);
}
