.CatalogSection {
  display: flex;
  flex-direction: column;
  gap: var(--width-regular);
  flex: 1;
}

.Header {
  display: grid;

  &Term {
    text-transform: capitalize;
  }
}

.Main {
  flex: 1;
  display: grid;
  align-content: start;
  gap: inherit;
}

.Sessions {
  display: grid;
  gap: var(--width-small);

  &Header {
  }

  &List {
    list-style: none;
    display: grid;
    gap: var(--width-small);
    grid-template-columns: repeat(auto-fill, minmax(32.5rem, 1fr));
    max-height: 50rem;
    max-width: 120rem;
    overflow: auto;
  }
}

.Session {
  &.selected &CheckInner {
    background-color: var(--color-primary);
  }

  &Main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--width-small);
    width: 100%;
    text-align: start;

    padding: var(--width-small) var(--width-tiny);
    background-color: var(--color-card-background);
    border: var(--border-width) solid var(--color-card-border);
    border-radius: var(--width-small);
    transition: background ease 0.2s;

    &:hover,
    &:focus-within {
      background-color: var(--color-card-background-hover);
    }
  }

  &Check {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    width: 1.75rem;
    height: auto;
    aspect-ratio: 1;
    border-radius: 100%;
    border: var(--border-width) solid
      rgba(
        var(--color-card-rgb),
        calc(var(--color-card-border-opacity) + var(--color-card-background-opacity))
      );

    &Inner {
      display: block;
      height: calc(100% - 2px);
      width: auto;
      aspect-ratio: 1;
      border-radius: 100%;
      transition: background ease 0.2s;
    }
  }

  &Content {
    display: grid;
    gap: 0.1rem;
  }

  &Campus {
    font-size: var(--font-size-small);
  }

  &Header {
    display: flex;
  }

  &Type {
  }

  &Number {
  }

  &Date {
    font-size: var(--font-size-small);
    width: max-content;
  }
}
