body,
input,
input::placeholder,
label,
button,
textarea,
select {
  line-height: 1.5;
  font-size: var(--font-size-regular);
  color: var(--color-text);
}

*,
* * {
  font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji,
    Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

.header {
  text-transform: capitalize;
  line-height: 1.2;
  color: var(--color-title);
}

.header-title {
  font-size: 5rem;
}

.header-section {
  font-size: 2.75rem;
}

.header-subsection {
  font-size: 2.25rem;
}

.header-card {
  font-size: 1.75rem;
}

.header-text {
  font-size: 1.5rem;
}

.paragraph,
.ul,
.li,
.caption {
  font-size: var(--font-size-regular);
  color: var(--color-text);
}

.ul {
  padding-inline-start: 2rem;
}
