.text-center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: var(--font-weight-bold);
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.captilaize {
  text-transform: capitalize;
}

.margin-bottom-auto {
  margin-bottom: 0.5em;
}
