$max-width: 60rem;
$padding: 0.3rem;
$input-border-radius: calc(
  var(--padding-button-vertical) + var(--font-size-regular) / 2 + 0.375rem
);

.Search {
  flex: 1;
  display: grid;
  position: relative;
  max-width: $max-width;
  width: 100%;

  transition: max-width 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);

  &.disabled {
    opacity: 0.5;
  }

  &.focused {
    max-width: calc(#{$max-width} + 2rem);
  }

  &Field {
    display: grid;
    gap: var(--width-small);
    position: relative;

    background-color: var(--color-card-background);
    border: var(--border-width) solid var(--color-card-border);
    border-radius: calc(#{$input-border-radius} + var(--border-width) + #{$padding});
    padding: $padding;

    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--color-card-background-hover);
    }
  }

  &Input {
    display: grid;
  }

  &Icon {
    position: absolute;
    right: calc(var(--padding-button-horizontal) - 1rem);
    top: 50%;
    translate: 0 -42.5%;
    color: var(--color-card-text);
    visibility: hidden;

    opacity: 0;
    scale: 0.75;
    filter: blur(5px);
    transition:
      opacity 0.5s ease,
      scale 0.5s ease,
      filter 0.2s ease,
      visibility 0.2s ease;

    &.visible {
      filter: blur(0px);
      opacity: 1;
      scale: 1;
      visibility: visible;
    }
  }

  &Results {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    opacity: 0;
    pointer-events: none;

    &.visible {
      opacity: 1;
      pointer-events: unset;
    }
  }
}

.Input {
  display: grid;

  position: relative;
  z-index: 2;

  &Placeholders {
    pointer-events: none;
    position: absolute;
    display: grid;

    width: 100%;
    overflow: hidden;
    height: 1em;
    top: 50%;
    translate: 0 -50%;

    &.hidden {
      visibility: hidden;
    }
  }

  &Placeholder {
    color: var(--color-card-placeholder);
    display: block;
    position: absolute;
    left: var(--padding-button-horizontal);
    top: 50%;
    translate: 0 -50%;
    line-height: 1em;
  }

  & > input {
    padding: var(--padding-button-vertical);
    padding-left: var(--padding-button-horizontal);
    padding-right: calc(var(--padding-button-horizontal) + 2.25rem);
    font-size: var(--font-size-regular);
    background-color: var(--color-card-background);
    color: var(--color-card-text);
    border: 0;
    border-radius: $input-border-radius;

    &::placeholder {
      color: transparent;
    }
  }
}

.Results {
  display: grid;
  padding: $padding;
  max-height: 45rem;
  overflow: auto;

  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: calc(2 * #{$padding});
  background-color: var(--color-card-background);
  border: var(--border-width) solid var(--color-card-border);
  border-radius: calc(#{$input-border-radius} + var(--border-width) + #{$padding});
  backdrop-filter: blur(10px);
}

.Result {
  padding: var(--width-tiny) var(--width-small);
  border-radius: $input-border-radius;
  position: relative;

  transition: background-color 0.2s ease;

  &:hover,
  &:focus-within {
    background-color: var(--color-card-background);
  }

  &:active {
    background-color: var(--color-card-background-active);
  }

  &Header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--width-tiny);
  }

  &Labs,
  &Tutorials {
    font-size: var(--font-size-small);
  }

  &Code {
  }

  &Name {
  }

  &Loader {
    position: absolute;
    top: 50%;
    right: var(--width-small);
    translate: 0 -50%;
    color: var(--color-card-text);

    opacity: 0;
    scale: 0.8;
    filter: blur(10px);

    transition:
      opacity 0.3s ease,
      scale 0.3s ease,
      filter 0.3s ease;

    &.loading {
      opacity: 1;
      scale: 1;
      filter: blur(0px);
    }
  }
}
