.Search {
  $padding: 0.3rem;
  $input-border-radius: calc(
    var(--padding-button-vertical) + var(--font-size-regular) / 2 + 0.375rem
  );

  flex: 1;

  background-color: var(--color-card-background);
  border: var(--border-width) solid var(--color-card-border);
  border-radius: calc(#{$input-border-radius} + var(--border-width) + #{$padding});
  padding: $padding;
  position: relative;

  display: grid;
  max-width: 60rem;
  width: 100%;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-card-background-hover);
  }

  &.disabled {
    opacity: 0.5;
  }

  &Field {
    display: grid;
    gap: var(--width-small);
    position: relative;
  }

  &Input {
    display: grid;
  }

  &Icon {
    position: absolute;
    right: calc(var(--padding-button-horizontal) - 1rem);
    top: 50%;
    translate: 0 -42.5%;
    color: var(--color-card-text);
    visibility: hidden;

    opacity: 0;
    scale: 0.75;
    filter: blur(5px);
    transition:
      opacity 0.5s ease,
      scale 0.5s ease,
      filter 0.2s ease,
      visibility 0.2s ease;

    &.visible {
      filter: blur(0px);
      opacity: 1;
      scale: 1;
      visibility: visible;
    }
  }

  &Results {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .Input {
    display: grid;

    position: relative;
    z-index: 2;

    &Placeholders {
      pointer-events: none;
      position: absolute;
      display: grid;

      width: 100%;
      overflow: hidden;
      height: 1em;
      top: 50%;
      translate: 0 -50%;
      // opacity: 0;
      // visibility: hidden;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    &Placeholder {
      $duration: 0.5s;
      $distance: 1em;
      color: var(--color-card-placeholder);
      display: block;
      visibility: hidden;
      position: absolute;
      left: var(--padding-button-horizontal);
      top: 50%;
      translate: 0 calc(-50% - #{$distance});

      transition:
        visibility $duration ease-in-out,
        translate $duration ease-in-out;

      &.active {
        visibility: visible;
        translate: 0 -50%;

        animation: reveal-placeholder $duration ease-in-out;
      }

      @keyframes reveal-placeholder {
        0% {
          translate: 0 calc(-50% + #{$distance});
        }
        100% {
          visibility: visible;
          translate: 0 -50%;
        }
      }
    }

    & > input {
      padding: var(--padding-button-vertical);
      padding-left: var(--padding-button-horizontal);
      padding-right: calc(var(--padding-button-horizontal) + 2.25rem);
      font-size: var(--font-size-regular);
      background-color: var(--color-card-background);
      color: var(--color-card-text);
      border: 0;
      border-radius: $input-border-radius;

      &::placeholder {
        color: transparent;
      }
    }
  }

  .Results {
    display: grid;
    padding: $padding;
    max-height: 45rem;
    overflow: auto;

    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: calc(2 * #{$padding});
    background-color: var(--color-card-background);
    border: var(--border-width) solid var(--color-card-border);
    border-radius: calc(#{$input-border-radius} + var(--border-width) + #{$padding});
    backdrop-filter: blur(10px);
  }

  .Result {
    padding: var(--width-tiny) var(--width-small);
    border-radius: $input-border-radius;
    position: relative;

    &:hover,
    &:focus-within {
      background-color: var(--color-card-background);
    }

    &:active {
      background-color: var(--color-card-background-active);
    }

    &Header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: var(--width-tiny);
    }

    &Labs,
    &Tutorials {
      font-size: var(--font-size-small);
    }

    &Code {
    }

    &Name {
    }

    &Loader {
      position: absolute;
      top: 50%;
      right: var(--width-small);
      translate: 0 -50%;
      color: var(--color-card-text);

      opacity: 0;
      scale: 0.8;
      filter: blur(10px);

      transition:
        opacity 0.3s ease,
        scale 0.3s ease,
        filter 0.3s ease;

      &.loading {
        opacity: 1;
        scale: 1;
        filter: blur(0px);
      }
    }
  }
}
