.GlobalErrors {
  position: fixed;
  top: var(--width-tiny);
  z-index: 100;
  width: 100%;
  max-width: 50rem;

  display: grid;
  justify-content: center;
  left: 50%;
  translate: -50% 0;

  &:empty {
    display: none;
  }
}

.GlobalError {
  background-color: var(--color-error);
  padding: var(--width-tiny);
  border: solid 1px var(--color-error-border);
  border-radius: calc(var(--width-tiny) + 1em);

  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;

  &Icon,
  &Message,
  &Close {
    color: var(--color-error-text);
  }

  &Message {
    flex: 1;
  }

  &Close {
    padding: 0;
    background: transparent;
    border-radius: 0;
  }
}
