@use "@/sass/abstracts/mixins" as *;

section.EditAlertSection {
}

.Main {
  display: grid;
  gap: var(--width-regular);
  max-width: 50rem;
}

.Header {
  display: grid;
}

.Form {
  justify-items: start;

  &Input {
    max-width: 35rem;
    // width: 100%;

    @include respond(500px) {
      max-width: unset;
      width: 100%;
    }
  }

  &Submit {
    @include respond(500px) {
      width: 100%;
    }
  }
}
