section.EditAlertSection {
}

.Main {
  display: grid;
  gap: var(--width-regular);
  max-width: 50rem;
}

.Header {
}

.Form {
  justify-items: start;

  &Input {
    width: 35rem;
  }

  &Submit {
  }
}
