.SearchSection {
  display: grid;
  gap: var(--width-small);
  align-content: start;
  justify-items: center;
}

.Header {
  height: 35vh;
  max-width: 50rem;
  width: 100%;

  display: grid;
  align-content: end;
  justify-items: center;

  text-align: center;

  &Image {
    $width: 6rem;
    $padding: 1rem;

    height: calc(#{$width} + #{$padding});
    width: calc(#{$width} + #{$padding});
    position: relative;
    background-color: var(--color-card-background);
    border: var(--border-width) solid var(--color-card-border);
    border-radius: 100%;

    & > img {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: $width;
      height: $width;
      object-fit: contain;
    }
  }

  &Content {
    display: grid;
    align-content: end;
    justify-items: center;
  }
}

.Message {
  max-width: 40rem;
  color: var(--color-card-text);
  display: flex;
  gap: var(--width-tiny);

  &Icon {
    width: 3rem;
  }

  & > p {
    color: inherit;
  }
}
